<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
		
    </startup>
	<configuration>
		<connectionStrings>
			<add name="DefaultConnection"
				 connectionString="Data Source=localhost\SQLEXPRESS03;Initial Catalog=dbAPT_Management;
				 Integrated Security=True;Trust Server Certificate=True;"
				 providerName="System.Data.SqlClient" />
		</connectionStrings>
		</configuration>
</configuration>